.team {
  stroke: black;
}

text {
  font-size: 6px;
}

#team-0 { fill: #8F8F8F }
#team-1 { fill: #FC8403 }
#team-9 { fill: #0D0 }
#team-3 { fill: yellow }
#team-5 { fill: pink }
#team-4 { fill: #0DD }
#team-2 { fill: white }
#team-8 { fill: black }
#team-7 { fill: #987122 }
#team-6 { fill: #B87333 }

.hovered {
  transition: 100ms ease-in-out;
}

.hovered {
  fill: red;
}
