/* You can add global styles to this file, and also import other style files */
path {
  stroke-opacity: 0.75;
  stroke-width: 0.5px;

  &:hover { fill-opacity: 0.75; }
}

text {
  text-anchor: middle;
}
